
<nav aria-label="breadcrumb" class="mb-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="/adduser"><i class="bi bi-arrow-clockwise"></i>Refresh</a></li>
  </ol>
</nav>
<h2 class="text-danger"> Oops!! Something went wrong </h2>